.table-cell {
  padding: 8px;
  cursor: pointer;
}

.table-cell.last {
 text-align: right; 
}

.table-cell.wrap {
  width: 1px;
  white-space: nowrap;
}

.table-cell svg {
  margin-top: 4px;
  float: right;
  color: #555;
}

.row-odd .main-col {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 5%);
}

.row-even .main-col {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 2%);
}

.table-row:hover .table-cell.main-col {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 5%);
}