.custom-modal {
  background: #0008;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background: #fff;
  padding: 30px;
  z-index: 10000;
}