.button {
  /* border: 1px solid rgba(0,0,0,.3);*/
  padding: 3px 10px 5px 10px;
  margin: 5px 10px 0px 0px;
  display: inline-block;
  
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  /* padding: 0.5em; */
  border-radius: 0.3em;
  box-shadow: 1px 1px 4px 0px #555;
  /* background: linear-gradient(#eee, #ffffff 20%); */
  color: #eee;
}

.primary-button {
  /* background: linear-gradient(#006bef, #007bff 20%); */
  background-color: #007ad9 !important;
}

.danger-button {
  /* background: linear-gradient(#eee, #ffffff 20%); */
  background-color: #e91224 !important;
}

.info-button {
  /* background: linear-gradient(#eee, #ffffff 20%); */
  background-color: #f4f4f4 !important;
  color: black;

}

.button:hover {
  /* box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 5%); */
  outline: none !important;
  box-shadow: 0 0 10px #000;
}