.App {
  text-align: center;
  color: #333;
  font-size: 1rem;
}

a {
  cursor: pointer;
}

.withCalendar {
  position: relative;
}

.withCalendar> button {
  position: absolute;
  right: 0px;
  top: 5px;
}

.withCalendar button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.withCalendar .calendar .row .span12 {
  justify-content: flex-end;
  display: flex;
}

svg {
  color: #555;
}

.widgetGroup label {
  text-align: right;
  margin-right: 10px;
}
.widgetGroup {
  margin: 0.75rem 0.75rem;
}

input, select {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 0.3em;
  background: linear-gradient(#eee, #ffffff 20%);
  min-width: 20rem;
}

input:focus, select:focus {
  outline: none !important;
  box-shadow: 0 0 10px #000;
}