.App {
  text-align: center;
  color: #333;
}

a {
  cursor: pointer;
}

table input {
  border: 0px;
  margin: 2px;
  width: calc( 100% - 10px);
  outline: 0;
}

input:focus {
  outline: 0;
}

.widgetGroup label {
  text-align: right;
  margin-right: 10px;
}

.withCalendar {
  position: relative;
}

.withCalendar> button {
  position: absolute;
  right: 0px;
  top: 5px;
}

.withCalendar button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.withCalendar .calendar .row .span12 {
  justify-content: flex-end;
  display: flex;
}

svg {
  color: #555;
}